# env files (never commit real secrets)
.env
.env.local
*.env.local
# allow example file
!.env.example

# dependencies
node_modules/
.pnp/
.pnp.js
.pnp.*  # yarn pnp variants
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build outputs
.next/
out/
dist/
build/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# contentlayer
.contentlayer

# prisma cache / generated (if you generate a custom client path)
.prisma/
src/generated/prisma/
s